.champion-tag {
	display: flex;
	gap: 0.25rem;
	color: white;

	.border {
		border-radius: 0.5rem;
		padding: 0.125rem 0.5rem;
	}

	&--assassin {
		background: purple;
	}
	&--fighter {
		background: brown;
	}
	&--mage {
		background: blue;
	}
	&--marksman {
		background: red;
		color: black;
	}
	&--support {
		background: green;
	}
	&--tank {
		background: orange;
		color: black;
	}
}
