.homepage {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 90dvh;
	max-height: 100%;

	&__champ-list {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 0.75rem 0;
	}
}
